.card > .card-body > .lesson-four-task-one > .btn:hover {
  color: red;
  background-color: yellow;
}
.card > .card-body > .lesson-four-task-two > h1:hover {
  background: green;
}
.card > .card-body > .lesson-four-task-three > a:visited {
  color: yellow;
}
.card
  > .card-body
  > .lesson-four-task-four
  > #sidebar
  > a:link {
  color: rgb(255, 0, 0);
}
.card > .card-body > .lesson-four-task-five > .btn:active {
  background-color: blue;
}
.card > .card-body > .lesson-four-task-six > .btn:focus {
  background-color: orange;
  color: orange;
}
.card
  > .card-body
  > .lesson-four-task-seven
  > #target:target {
  background-color: green;
  color: white;
}
.card
  > .card-body
  > .lesson-four-task-eight
  > #checkbox:checked {
  background-color: blue;
  color: white;
}
.card > .card-body > .lesson-four-task-nine > p:lang(uk) {
  color: blue;
}
.card
  > .card-body
  > .lesson-four-task-ten
  > form
  > button:enabled {
  color: yellow;
  background-color: red;
}
.card
  > .card-body
  > .lesson-four-task-ten
  > form
  > .form-group
  > input:enabled {
  color: yellow;
  background-color: red;
}
.card
  > .card-body
  > .lesson-four-task-eleven
  > input:disabled {
  background-color: yellow;
}
.card
  > .card-body
  > .lesson-four-task-twelve
  > input:read-write {
  background-color: yellow;
}
.card
  > .card-body
  > .lesson-four-task-thirteen
  > input:read-only {
  background-color: yellow;
}
.card
  > .card-body
  > .lesson-four-task-fourteen
  > input:valid {
  background-color: green;
}
.card
  > .card-body
  > .lesson-four-task-fourteen
  > input:invalid {
  background-color: red;
}
.card
  > .card-body
  > .lesson-four-task-fifteen
  > form
  > #message:optional {
  background-color: red;
}
.card
  > .card-body
  > .lesson-four-task-sixteen
  > form
  > input:out-of-range {
  color: red;
}
.card
  > .card-body
  > .lesson-four-task-seventeen
  > form
  > input:in-range {
  color: red;
}
.card
  > .card-body
  > .lesson-four-task-eighteen
  > input:placeholder-shown {
  background-color: red;
}
.card
  > .card-body
  > .lesson-four-task-nineteen
  > .btn-group
  > button:focus-within {
  background-color: yellow;
  color: white;
}
.card
  > .card-body
  > .lesson-four-task-twenty
  > form
  > label
  > input:invalid {
  background-color: red;
}
